@import '../../var';


.title-box{
    border: $border;
    background-color: $light-blue;

    width: 70vw;
    padding: 1.3rem;

    border-radius: 1.3rem;
    outline: none;

    margin: 1rem 0 0 2rem;
    font-size: 1.4rem;

    &::placeholder{
        color: $black;
    }
}