/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    font-family: "Poppins",
        sans-serif;
}

.wrapper {
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 2px solid red;

    .signup-login {


        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            form {
                padding: 1.5rem;
                border: 2px solid #11d7ff;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .heading{
                    font-size: 2rem;
                    color: #11d7ff;
                    font-weight: 600;
                }

                .input-field
                {
                    
                }
            }
        }

    }
}