@import '../../mixins';
@import '../../var';


.category_submit_box {

    @include flexprop;

    border: $border;
    background-color: $fade-blue;
    border-radius: $border-rad;

    padding: 1rem;

    * {
        margin-top: 0.5rem;
    }

    .heading p {
        @include heading;
    }

    .category_about {

        @include flexprop;

        p {
            display: flex;
            text-align: justify;
        }
    }

    .category_box {

        form {
            @include flexprop;

            select {
                border-radius: $border-rad;
                border: $border;

                width: 20vw;
                word-wrap: normal;
                padding: 0.5rem;
                outline: none;
                margin-bottom: 1rem;
                font-size: 1.2rem;
                cursor: pointer;
            }
        }
    }
}