@import '../../mixins';
@import '../../var';


.codio_share {
    @include flexprop;

    border: $border;
    background-color: $light-blue;
    border-radius: $border-rad;

    margin: 1rem 0;
    max-width: 30vw;

    padding: 2rem;

    .codio {
        @include flexcentre;

        gap: 0.8rem;

        div h1 {
            font-size: 3rem;
        }
    }

    .share {
        .share_about {
            font-size: 1.1rem;
            padding: 1rem 0.2rem;
            text-align: justify;
        }

        .social_icon {

            @include flexjustspaceevenly;

            .icon {
                color: $blue;

                padding: 0.1rem;
                font-size: 2rem;

                cursor: pointer;

                &:hover {
                    color: $white;
                    background-color: $blue;
                }

            }
        }
    }
}