@import '../mixins';
@import '../var';

.button {
    @include btn;
}

.btn{
    @include btn;
}

.follow {
    background-color: $blue;
    color: $white;
}

.unfollow {
    background-color: $white;
    color: $blue;
    border: $border;
}