@import '../var';
@import '../mixins';


.wrap {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #2980B9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 400% 400%;
    animation: gradient 5s linear infinite;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

}


.home_container {
    display: flex;
    height: 100%;
    padding: 5rem;
    gap: 5rem;

    @media screen and (max-width: $medium) {
        display: block;
    }

    @media screen and (max-width: 420px) {
        padding: 3rem;
    }

    .codio_image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        img {
            height: 30rem;
            width: 30rem;

            @media screen and (max-width: 550px) {
                height: 20rem;
                width: 20rem;
            }
        }
    }

    .codio_about_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem;

        @media screen and (max-width: $mobile) {
            padding: 0;
        }

        .heading {

            @include flexcentre;
            flex-direction: column;
            gap: 0.5rem;

            h2 {
                font-size: 3rem;
                font-weight: 500;
            }

            img {
                height: 7rem;
                width: 7rem;
            }
        }

        .codio_one_line {
            font-size: 1.5rem;
            font-family: 'Merriweather', sans-serif;
        }

        .codio_about {
            font-size: 1.15rem;
            text-align: center;
        }

        .sign_in_route {
            margin-top: 1rem;
            border: 2px solid $white;
        }
    }
}