@import '../mixins';
@import '../var';


$med: 550px;

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.active-wrapper {
    background-color: rgba(222, 217, 217, 0.737);
    opacity: 0.6;

    @media screen and (max-width: $med){
        opacity: 0.75;
    }
    
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 2rem;
    border: 0.2rem solid $blue;
    border-radius: 1rem;

    @media screen and (max-width: $med){
        padding: 1.5rem;
    }

    h1{
        margin-bottom: 2rem;
    }

    .avatar_container
    {
        @include flexcentre;
        @include flexcolumn;

        gap: 1rem;

        .avatar_image
        {
            height: 13rem;
            width: 13rem;

            border-radius: 50%;
            border: $border;
            box-shadow: $avatar-box-shadow;

            @media screen and (max-width: $med){
                height: 10rem;
                width: 10rem;
            }
        }

        .file_box {
            padding: 0.5rem 0;
            border-radius: $border-rad;
            background-color: $bg-card-blue;
            border-bottom: 2px solid $blue;
            cursor: pointer;

            .custom-file-input {
                @media screen and (max-width: 485px) {
                    font-size: 0.9rem;
                }

                &::-webkit-file-upload-button {
                    visibility: hidden;
                }
            }
        }
    }

    .icons-container{
        display: flex;
        gap: 2rem;
    }


    form {
        display: flex;
        flex-direction: column;

        .input-field {
            @include input-field;

            border: $border;
            border-radius: 5rem;
            padding: 1.5rem;

            @media screen and (max-width: $med){
                padding: 1rem;
                width: 300px;
            }

            .icon{
                @media screen and (max-width: $med){
                    font-size: 1.3rem;
                }
            }
        }

        .form-buttons{
            display: flex;
            justify-content: end;
            gap: 1rem;
        }

    }
}

.active-modal-container {
    background-color: white;
}


