@import '../../mixins';
@import '../../var';

.author_about{
    margin: 1rem 2rem;
    border-bottom: $border;
    padding: 2rem 0 0 0;
    
    h2{
        color: $black;
        font-size: 3rem;
    }

    .short_details{
        margin-bottom: 0.5rem;
        opacity: 0.85;
    }
}
