@import '../../mixins';
@import '../../var';

.dummy_container{
    width: 65vw;
    max-width: fit-content;

    border: $border;
    background-color: $bg-card-blue;
    border-bottom: 3px solid $blue;
    border-radius: $border-rad;

    display: flex;
    font-size: 2rem;

    .icon{
        margin: 0.7rem;
    }

    .message{
        @include flexcentre;
        width: 65vw;
    }
}