@import '../../var';

.navbar{
    padding: 0.5rem;

    background-color: $nav-blue;
    border-bottom: $light-border;

    .container-fluid
    {
        .navbar-brand
        {
            font-size: 2.1rem;
            font-weight: 500;
        }

        .nav-item .nav-link{

            color: #4e4e4ecb;
            margin-right: 1.2rem;

            &:hover{
                color: black;
            }
        }
    }
}
