.navbar{
    padding: 0.5rem;
    font-family: 'Work sans', sans-serif;

    background-color: #74e8ff85;
    border-bottom: 1.4px solid #11d7ff;


    .container-fluid
    {
        .navbar-brand
        {
            font-size: 2.1rem;
            font-weight: 500;
        }

        .nav-item .nav-link{

            color: #4d4d4ddf;
            margin-right: 1.2rem;

            &:hover{
                color: rgb(24, 24, 24);
            }
        }
    }
}

nav{
    background-color: rgba(181, 247, 254, 0.723);
}