// Creators area
.creators {
    margin: 2rem 0;

    .creator_info {
        display: flex;
        padding: 0.8rem 0;

        div{
            margin: 0 0.3rem;
        }

        .creator_details 
        {
            display: flex;
            flex-direction: column;

            .creator_name p {
                font-size: 1.2rem;
                margin-bottom: 0.15rem;
            }

            .creator_about {
                font-size: 0.8rem;
            }
        }
    }
}