@import '../../var';
@import '../../mixins';

.latest_blogs {


    .heading p {
        @include heading;
    }

    .blogs_container {

        .blog {
            text-decoration: none;
            color: $black;

            padding: 0.8rem 0.5rem 0 0.8rem;
            border-bottom: 0.8px solid #8b8b8b9c;
            margin: 1rem 0;
            border-radius: $border-rad;

            &:hover {
                cursor: pointer;
                background-color: $bg-light-blue;
            }

            .img_name {
                display: flex;

                .writer_img {
                    margin-right: 0.5rem;
                    img {
                        height: 2rem;
                        width: 2rem;
                        border-radius: 50%;
                        border: $border;
                    }
                }

                .writer_name {
                    font-size: 0.95rem;
                    font-weight: 300;
                    margin-left: 0.4rem;
                }
            }

            .blog_title p {
                font-size: 1.38rem;
                font-weight: 500;
            }
        }
    }
}