@import '../../mixins';
@import '../../var';


.sidebar_about_container{
    .about{
        margin: 1.2rem 0;

        @media screen and (max-width: 420px) {
            font-size: 0.9rem;
            opacity: 0.92;
        }

        .icon{
            font-size: 1.7rem;
        }
    }

    .heading p{
        @include heading;
    }

    .links 
    {
        display: flex;
        justify-content: center;
        gap: 2rem;

        @media screen and (max-width: 420px) {
            font-size: 0.9rem;
            opacity: 0.9;
        }
        
        .footer_link{
            color: #212121;
            text-decoration: none;
            transition: 0.2s ease-in-out;

            &:hover
            {
                color: $blue;
                text-decoration: underline;
            }
        }
    }
}