.sidebar_about_container{
    .about{
        margin: 1.2rem 0;

        .icon{
            font-size: 1.7rem;
        }
    }

    .links 
    {
        display: flex;
        justify-content: space-evenly;
        
        a{
            text-decoration: none;
            color: #444;
        }
    }
}