@import '../../mixins';
@import '../../var';

.full-blog {
    @include flexcolumn;
    width: 70vw;


    .blog-box {
        @include flexcolumn;

        background-color: $bg-medium-blue;
        border: $border;
        border-radius: $border-rad;
        max-width: 65vw;

        padding: 2rem;

        box-shadow: #11d7ff 0px 0px 12px;

        margin: 1rem 2rem;

        .post_content {
            margin: 0.7rem 0.5rem;

            p{
                margin-bottom: 0.8rem;
            }

            ol,ul{
                margin-bottom: 0.8rem;
            }

            ol li,
            ul li{
                margin-bottom: 1rem;
            }

            .ql-syntax {
                background-color: rgba(36, 125, 120, 0.9725490196);
                color: white;
                padding: 1.5rem;
                border-radius: $border-rad;
            }

            .ql-editor ol li:not(.ql-direction-rtl),
            .ql-editor ul li:not(.ql-direction-rtl) {
                padding-left: 1.5em;
            }

            h1{
                margin-bottom: 2rem;
            }

            blockquote {
                background-color: rgba(139, 238, 255, 0.518);
                font-size: 1.15rem;
                font-style: italic;
                font-weight: 400;
                border-left: 0.5rem solid rgba(87, 227, 255, 0.8117647059);
                padding: 1.5rem;
                border-radius: 1rem;
                margin: 0.8rem 0;
            }
        }

        img {
            // height: 35rem;
            // width: 60rem;
            max-width: 60vw;
            margin-bottom: 2rem;
        }

        .blog_actual_content {
            text-align: justify;
        }
    }
}