$deep-blue: #0095ff;
$blue: #11d7ff;
$med-blue: #2ed6f87f;
$light-blue: #b2fefa75;
$fade-blue: #ccfcf95f;
$stroke-blue: #10bbff;
$quote-blue: #8fe9f94e;
$nav-blue: #71e7ff8e;


$white: #fff;
$black: #444;
$editor-black: #247d78f8;

$bg-deep-blue: #11d7ff;
$bg-medium-blue: #c1fefb62;
$bg-light-blue: #b2fefa54;

$bg-card-blue: #94edff7b;

$border: 2px solid $blue;
$light-border: 1.4px solid $blue;

$font: "Poppins", sans-serif;
$border-rad: 0.5rem;

$img-border: 3px solid $white;
$avatar-box-shadow: rgba(75, 215, 225, 0.711) 0px 14px 28px 14px, rgba(56, 216, 216, 0.536) 0px 10px 10px 0px;

$medium: 950px;
$lg-medium: 1050px;
$small: 610px;
$mobile: 500px;