@import './var';
@import './mixins';


$medium: 850px;
$small: 600px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_container {
  display: flex;
  padding: 2rem;

  @media screen and (max-width: $medium) {
    display: block;
  }

  @media screen and (max-width: $small) {
    padding: 1.2rem;
  }
}

.search_and_cards_container {

  .cards_container {
    padding-right: 1rem;

    @media screen and (max-width: $medium) {
      padding-right: 0;
    }
  }


  .search_bar {
    margin: 0.5rem 0 2rem 0;

    input {
      padding: 0.5rem 0.8rem;
      margin-right: 2rem;
      border: $border;
      outline: none;
      border-radius: $border-rad;
    }

    .searchIcon {
      font-size: 2.3rem;
      padding: 0.3rem;
      border-radius: 50%;
      border: $border;
      color: $blue;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: $bg-card-blue;
        color: $black;
      }
    }

    .closeIcon {
      @media screen and (max-width: 350px) {
        margin-top: 1rem;
      }
    }
  }
}