* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_container {
  display: flex;
  padding: 2rem;
}

.cards_container {
  width: 70vw;
  padding-right: 1rem;
}

.app_container .card {
  width: 70%;
}

.app_container .sidebar {
  width: 30vw;
}