@import './mixins';

.post-container{

    .post-page-element{
        display: flex;

        .post-sidebar{
            @include flexcolumn;
            width: 30vw;
            padding: 0 1rem;
        }
    }

}